# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# dotenv
.env

# virtualenv
.venv

# Local config file
baxter.json
baxter.zeus.json
measurement_messages.json
messages.mrp
chip.json
csv_schema.json
setup.cfg


# VS Code
.vscode/*
!.vscode/settings.default.json


# Various caches
.lago_cache
.mypy_cache
