repos:
  # Run locally inside Poetry's virtual environment.
  # It's overkill to use pre-commit's virtual environment too.
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort
      language: system
      types: [python]
    - id: black
      name: black
      entry: poetry run black
      language: system
      types: [python]
    - id: pylint
      name: pylint
      entry: poetry run pylint
      language: system
      types: [python]
    - id: mypy
      name: mypy
      entry: poetry run mypy
      language: system
      types: [python]
